<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mapper.BoardMapper">
	
	<insert id="boardInsert" parameterType="com.dto.BoardDto" useGeneratedKeys="true" keyProperty="boardSeq">
		<![CDATA[
			INSERT INTO board 
				(user_seq, user_nick, content)
			VALUES 
				(#{userSeq}, #{userNick}, #{content})
		]]>
	</insert>
	
	<insert id="boardImgInsert" parameterType="com.dto.BoardFileDto">
		<![CDATA[ 
			INSERT INTO 
				board_img
				(user_seq, board_seq, ori_img_name, stored_img_path, img_size)
			VALUES
		]]>
		<foreach collection="list" item="item" separator=",">
		(
			#{item.userSeq},
			#{item.boardSeq},
			#{item.oriImgName},
			#{item.storedImgPath},
			#{item.imgSize}
		)
		</foreach>
	</insert>
	
	<update id="boardUpdate" parameterType="com.dto.BoardDto">
		<![CDATA[
			UPDATE
				board
			SET
				content = #{content}
			WHERE
				board_seq = #{boardSeq}
		]]>
	</update>
	
	<select id="boardImgLengthCheck" parameterType="int" resultType="int">
		<![CDATA[
			SELECT
				COUNT(*)
			FROM
				board_img
			WHERE
				board_seq = #{boardSeq}
			AND
				del_yn = 'n'
		]]>
	</select>
	
	<update id="boardImgUpdate" parameterType="com.dto.BoardFileDto">
		<foreach collection="list" item="item" separator=",">
			UPDATE 
				board_img
			SET
				user_seq = #{item.userSeq},
				ori_img_name = #{item.oriImgName},
				stored_img_path = #{item.storedImgPath},
				img_size = #{item.imgSize}
			WHERE
				board_seq = #{item.boardSeq}
			AND
				del_yn = 'n'
		</foreach>
	</update>
	
	<select id="getBoardList" parameterType="int" resultType="com.dto.BoardDto">
		<![CDATA[
			SELECT 
				user_seq, board_seq, content, DATE_FORMAT(create_dt, '%y.%m.%d %h:%i') AS create_dt
			FROM 
				board
			WHERE 
				user_seq = #{userSeq}
			AND del_yn = 'n'
			ORDER BY 
				board_seq DESC 
		]]>
	</select>
	
	<select id="getBoardImg" parameterType="int" resultType="com.dto.BoardFileDto">
		<![CDATA[ 
			SELECT
				img_seq, board_seq, stored_img_path
			FROM
				board_img
			WHERE
				del_yn = 'n'
			AND
				board_seq = #{boardSeq}
			ORDER BY img_seq ASC
		]]>
	</select>
	
	<select id="getAllBoardList" resultType="com.dto.BoardDto">
		<![CDATA[
			SELECT 
				board_seq, user_seq, user_nick, content, DATE_FORMAT(create_dt, '%y.%m.%d %h:%i') AS create_dt
			FROM 
				board
			WHERE 
				del_yn = 'n'
			ORDER BY 
				board_seq DESC 
		]]>
	</select>
	
	<select id="getReplyList" parameterType="int" resultType="com.dto.ReplyDto">
		<![CDATA[
			SELECT
				board_seq, content, reply_seq, user_nick, user_seq, DATE_FORMAT(create_dt, '%y.%m.%d %h:%i') AS create_dt 
			FROM 
				reply
			WHERE
				board_seq = #{boardSeq}
			AND
				del_yn = 'n'	
		]]>
	</select>
	
	<select id="getAllBoardLike" parameterType="int" resultType="int">
		<![CDATA[
			SELECT 
				COUNT(*) 
			FROM 
				board_like 
			WHERE 
				board_seq = #{boardSeq}
		]]>
	</select>
	
	<select id="followCheck" parameterType="int" resultType="int">
		<![CDATA[
			SELECT 
				COUNT(*) 
			FROM 
				follow
			WHERE 
				from_user = #{userSeq}
			AND 
				to_user = #{boardUserSeq}
		]]>
	</select>
	
	 <select id="getUserImg" parameterType="int" resultType="String">
    	<![CDATA[ 
	    	SELECT 
	    		stored_img_path
			FROM 
				profile_img
			WHERE 
				user_seq = #{userSeq}
			ORDER BY 
				img_seq DESC 
			LIMIT 1
    	
    	]]>
    </select>
    
    <select id="checkMyLike" parameterType="int" resultType="int">
    	<![CDATA[
    		SELECT 
    		COUNT(*) 
    		FROM 
				board_like 
			WHERE 
				board_seq = #{boardSeq}
			AND 
				user_seq = #{userSeq}
    	]]>
    </select>
    
    <insert id="addLike" parameterType="int">
    	<![CDATA[
    		INSERT INTO 
    			board_like(user_seq, board_seq)
			VALUES 
				(#{userSeq}, #{boardSeq})
    	]]>
    </insert>
    
    <delete id="disLike" parameterType="int">
    	<![CDATA[
    		DELETE 
    		FROM 
    			board_like
			WHERE 
				user_seq = #{userSeq}
			AND 
				board_seq = #{boardSeq}
    	]]>
    </delete>
    
    <update id="deleteBoard" parameterType="int">
    	<![CDATA[
    		UPDATE 
    			board 
    		SET 
    			del_yn = 'y' 
    		WHERE 
    			board_seq = #{delBoardSeq}
    	]]>
    </update>
    <update id="deleteBoardImg" parameterType="int">
    	<![CDATA[
    		UPDATE 
    			board_img 
    		SET 
    			del_yn = 'y'
    		WHERE 
    			board_seq = #{delBoardSeq}
    	]]>
    </update>
    
    <select id="getReWriteBoard" parameterType="int" resultType="com.dto.BoardDto">
    	<![CDATA[
    		SELECT 
    			content 
    		FROM 
    			board 
    		WHERE 
    			board_seq = #{boardSeq}
    	]]>
    </select>
    
    <select id="getReWriteBoardImg" parameterType="int" resultType="com.dto.BoardFileDto">
    	<![CDATA[
    		SELECT
    			*
    		FROM
    			board_img
    		WHERE
    			board_seq = #{boardSeq}
    		AND 
    			del_yn = 'n'
    	]]>
    </select>
    
    <insert id="inputReply" parameterType="com.dto.ReplyDto" useGeneratedKeys="true" keyProperty="replySeq">
    	<![CDATA[
    		INSERT INTO reply
    			(board_seq, user_seq, user_nick, content)
    		VALUES
    			(#{boardSeq}, #{userSeq}, #{userNick}, #{content})
    	]]>
    </insert>
    
    <select id="getInputReply" parameterType="int" resultType="com.dto.ReplyDto">
    	<![CDATA[
    		SELECT
    			board_seq, content, reply_seq, user_nick, user_seq, DATE_FORMAT(create_dt, '%y.%m.%d %h:%i') AS create_dt
    		FROM
    			reply
    		WHERE
    			reply_seq = #{replySeq}
    		AND
    			del_yn = 'n'
    	]]>
    </select>
    
    <update id="deleteReply" parameterType="int">
    	<![CDATA[
    		UPDATE
    			reply
    		SET
    			del_yn = 'y'
    		WHERE
    			reply_seq = #{replySeq}
    	]]>
    </update>



</mapper>