<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.UserMapper">
	<insert id="signUp" parameterType="com.dto.UserDto">
		<![CDATA[
			INSERT INTO 
				user_info (user_id, user_nick, user_pw, user_name, user_phone)
			VALUES 
				(#{userId}, #{userNick}, #{userPw}, #{userName}, #{userPhone})
		]]>
	</insert>
	
	<select id="idCheck" parameterType="String" resultType="int">
		<![CDATA[
			SELECT 
				COUNT(user_id) 
			FROM 
				user_info 
			WHERE 
				user_id = #{userId};
			
		]]>
	</select>
	
	
	<select id="userLogin" parameterType="String" resultType="com.dto.UserDto">
		<![CDATA[
			SELECT
				user_seq, user_id, user_pw , roles
			FROM 
				user_info
			WHERE 
				user_id = #{userId}
		]]>
	</select>
	
	<select id="loadUserByUsername" resultType="com.dto.UserDto">
       	<![CDATA[ 
       		SELECT 
       			user_seq, user_Id, user_pw, user_nick, roles
        		FROM 
        			user_info
        		WHERE 
        			user_seq = #{userSeq}
       	]]> 
	</select>
		
		      	
    <select id="getUserInfo" parameterType="int" resultType="com.dto.UserInfo">
       	<![CDATA[ 
       		SELECT 
       			user_seq, user_id, user_nick, roles
        	FROM 
        		user_info
        	WHERE 
        		user_seq = #{userSeq}
       	]]>
    </select>
    
    <select id="getProfileImg" parameterType="int" resultType="com.dto.UserInfo">
    	<![CDATA[ 
	    	SELECT 
	    		img_seq, stored_img_path
			FROM 
				profile_img
			WHERE 
				user_seq = #{userSeq}
			ORDER BY 
				img_seq DESC 
			LIMIT 1;
    	]]>
    </select>
    
    <select id="getWriteCnt" parameterType="int" resultType="int">
    	<![CDATA[
    		SELECT
    			COUNT(*)
    		FROM 
    			board
    		WHERE
    			user_seq = #{userSeq}
    		AND
    			del_yn = 'n' 
    	]]>
    </select>
    
    <select id="checkDefaultProfile" parameterType="int" resultType="int">
    	<![CDATA[
    		SELECT
    			COUNT(*)
    		FROM
    			profile_img
    		WHERE
    			user_seq = #{userSeq}
    	]]>
    </select>
    
    <insert id="profileInsert" parameterType="com.dto.BoardFileDto">
		<![CDATA[ 
			INSERT INTO 
				profile_img
				(user_seq, ori_img_name, stored_img_path, img_size)
			VALUES
		]]>
		<foreach collection="list" item="item" separator=",">
		(
			#{item.userSeq},
			#{item.oriImgName},
			#{item.storedImgPath},
			#{item.imgSize}
		)
		</foreach>
	</insert>
	
	<update id="profileUpdate" parameterType="com.dto.BoardFileDto">

		<foreach collection="list" item="item" separator=",">
			UPDATE 
				profile_img
			SET
				user_seq = #{item.userSeq},
				ori_img_name = #{item.oriImgName},
				stored_img_path = #{item.storedImgPath},
				img_size = #{item.imgSize}
			WHERE
				user_seq = #{item.userSeq}
		</foreach>
	</update>
	
	<update id="reNick" parameterType="hashmap">

		<![CDATA[
			UPDATE
				user_info
			SET 
				user_nick = #{userNick}
			WHERE
				user_seq = #{userSeq}
		]]>
	</update>
	<update id="boardReNick" parameterType="hashmap">

		<![CDATA[
			UPDATE
				board
			SET 
				user_nick = #{userNick}
			WHERE
				user_seq = #{userSeq}
		]]>
	</update>
	
    
    <delete id="deleteProfileImg" parameterType="int">
    	<![CDATA[
    		DELETE 
    		FROM 
    			profile_img 
    		WHERE 
    			user_seq = #{userSeq}
    	]]>
    </delete>
    
    <insert id="addFollow" parameterType="int">
    	<![CDATA[
    		INSERT INTO
    			follow (from_user, to_user)
    		VALUES
    			(#{fromUserSeq}, #{toUserSeq})
    	]]>
    </insert>
    <delete id="disFollow" parameterType="int">
    	<![CDATA[
    		DELETE
    		FROM
    			follow
    		WHERE
    			from_user = #{fromUserSeq}
    		AND
    			to_user = #{toUserSeq}
    	]]>
    </delete>
    
    <select id="getFollowList" parameterType="int" resultType="com.dto.UserInfo">
    	<![CDATA[
    		SELECT
    			a.to_user AS user_seq, b.user_nick, c.stored_img_path
    		FROM
    			follow AS a
			LEFT JOIN user_info AS b
            ON a.to_user = b.user_seq
            LEFT JOIN profile_img AS c
            ON b.user_seq = c.user_seq
    		WHERE
    			a.from_user = #{userSeq}
			OR 
				c.del_yn = 'n'
				
    	]]>
    </select>
    

</mapper>